<app-navegacion>
  <ion-content *ngIf="hayProductos | async; else sinProductos">
      <div class="productos-grid-container">
        <h2 class="categoria-titulo">{{ busqueda | titlecase }}</h2>
        <!-- Coloca esto donde quieras mostrar los botones de orden -->
        <div class="ordenar-bar">
          <button 
            class="ordenar-btn" 
            [class.active]="ordenActual === 'asc'" 
            (click)="ordenarPorPrecio('asc')">
            <ion-icon name="arrow-up-outline"></ion-icon>
            Menor precio
          </button>
          <button 
            class="ordenar-btn" 
            [class.active]="ordenActual === 'desc'" 
            (click)="ordenarPorPrecio('desc')">
            <ion-icon name="arrow-down-outline"></ion-icon>
            Mayor precio
          </button>
          <button 
            class="ordenar-btn" 
            [class.active]="ordenActual === 'oferta'" 
            (click)="ordenarPorOferta()">
            <ion-icon name="pricetag-outline"></ion-icon>
            Ofertas
          </button>
        </div>
      <div class="productos-grid">
        <ion-card *ngFor="let producto of productos | async" (click)="verDetalle(producto.producto_id)" class="producto-card">
          <img [src]="producto.imagen[0]" />
          <ion-card-content>
            <ion-card-title class="nombre">{{ producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="descripcion">{{ producto.atributo | titlecase }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="!producto.oferta" class="precio-original">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-original-tachado">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-oferta">{{ producto.oferta.precio_oferta | number }} CLP</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ion-content>

  <ng-template #sinProductos>
    <div class="vacio-container">
      <ion-icon name="sad-outline"></ion-icon>
      <h2>No se han encontrado productos</h2>
      <p>Agrega productos o espera que se publiquen algunos.</p>
    </div>
  </ng-template>
</app-navegacion>