<app-navegacion>

  <ion-content>

    <div class="perfil-container" *ngIf="estado == 1; else invitado">
      <!-- Sección de la imagen de perfil y nombre de usuario -->
      <div class="perfil-header">
        <ion-avatar class="avatar">
          <img src="https://preview.redd.it/colored-this-kirby-meme-a-friend-sent-me-v0-rpau79c9o31a1.png?width=640&crop=smart&auto=webp&s=fafd4b695974a98b6795b8cc326cf1c45fb2f571" alt="Imagen de perfil">
        </ion-avatar>
      </div>

      <!-- Información de usuario -->
      <div class="info-usuario">
        <ion-item lines="none">
          <ion-label position="floating">Correo Electrónico</ion-label>
          <ion-input type="email" value=" {{ usuario.correo }} " disabled></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-label position="floating">Nombre de Usuario</ion-label>
          <ion-input type="text" value=" {{ usuario.nombre }} " disabled></ion-input>
        </ion-item>
      </div>

      <!-- Sección de botones (solo visual) -->
      <div class="acciones">
        <ion-button expand="full" class="accion-btn" fill="clear">
          <ion-icon name="key" slot="start"></ion-icon>
          Cambiar Contraseña
        </ion-button>

        <ion-button expand="full" class="accion-btn" fill="clear">
          <ion-icon name="create" slot="start"></ion-icon>
          Cambiar Nombre de Usuario
        </ion-button>

        <ion-button expand="full" class="accion-btn" fill="clear">
          <ion-icon name="list" slot="start"></ion-icon>
          Historial de Compras
        </ion-button>

        <ion-button expand="full" class="accion-btn" fill="clear">
          <ion-icon name="list" slot="start"></ion-icon>
          Historial de Ventas
        </ion-button>
        
        <ion-button (click)="cerrarSesion()" expand="full" class="accion-btn" fill="solid" color="danger" >
          <ion-icon name="list" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </div>

    </div>

    <ng-template #invitado>
      <div class="invitado-container">
        <h2>¡Bienvenido!</h2>
        <p>¿Aún no tienes cuenta o ya tienes una? Elige una opción:</p>
        <ion-button expand="block" fill="solid" color="primary" [routerLink]="['/registro']">
          <ion-icon name="person-add" slot="start"></ion-icon>
          Registrarse
        </ion-button>
    
        <ion-button expand="block" fill="solid" color="secondary" [routerLink]="['/ingreso']">
          <ion-icon name="log-in" slot="start"></ion-icon>
          Ingresar
        </ion-button>

        <ion-button expand="block" fill="solid" color="secondary" (click)="cambiarEstado()">
          <ion-icon name="log-in" slot="start"></ion-icon>
          Cambiar Estado = 1
        </ion-button>
      </div>
    </ng-template>
    
  


  </ion-content>

</app-navegacion>