<app-navegacion>
  <div class="productos-header">
    <h1>Mis Productos</h1>
    <ion-button (click)="abrirModal()" class="add-button">
      <ion-icon name="add" slot="start"></ion-icon>
      Nuevo Producto
    </ion-button>
  </div>

  <ion-content>
    <div *ngIf="productos.length === 0" class="empty-state">
      <h3>No hay productos registrados</h3>
      <p>Comienza agregando tu primer producto</p>
      <ion-button (click)="abrirModal()" fill="outline">
        <ion-icon name="add" slot="start"></ion-icon>
        Agregar Producto
      </ion-button>
    </div>
  </ion-content>

  <!-- Sección de productos -->
  <div class="productos-grid">
    <ion-card *ngFor="let producto of productos" class="producto-card">
      <!-- Sección de imágenes -->
<div class="imagen-container">
  <swiper-container
    slides-per-view="1"
    loop="true"
    style="width: 100%; height: auto;"
  >
    <swiper-slide *ngFor="let img of producto.imagen">
      <div class="slide-image">
        <img
          [src]="img || 'assets/img/placeholder.png'"
          alt="Imagen del producto"
        />
      </div>
    </swiper-slide>
  </swiper-container>
</div>


      <!-- Sección datos -->
      <ion-card-header>
        <ion-card-title>{{ producto.titulo }}</ion-card-title>
        <ion-card-subtitle>
          <ion-icon name="pricetags-outline"></ion-icon>
          {{ obtenerNombreCategoriaPorId(producto.categoria) }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content class="detalle-producto">
        <p class="descripcion">
          {{ producto.descripcion || 'Sin descripción' }}
        </p>
        <div class="etiquetas" *ngIf="producto.etiquetas?.length">
          <ion-chip
            *ngFor="let etiqueta of producto.etiquetas"
            [color]="etiqueta === 'Rebaja' ? 'danger' : 'primary'"
          >
            {{ etiqueta }}
          </ion-chip>
        </div>

        <!-- Datos principales -->
        <div class="datos-principales">
          <p>Precio: {{ producto.precio }}</p>
          <p>Stock: {{ producto.stock }}</p>
          <p *ngIf="producto.inventario_minimo">
            Stock Mínimo: {{ producto.inventario_minimo }}
          </p>
          <p>Estado: {{ producto.estado }}</p>
        </div>

        <!-- Oferta Display -->
        <ion-card *ngIf="producto.oferta" class="oferta-display-card">
          <ion-card-header>
            <ion-card-title>Oferta Especial</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <p>
              <strong>Precio de oferta:</strong>
              {{ producto.oferta.precio_oferta | currency:'CLP':'symbol':'1.0-0'
              }}
            </p>
            <p *ngIf="producto.oferta.fecha_inicio">
              <strong>Fecha de inicio:</strong>
              {{ producto.oferta.fecha_inicio.toDate() | date:'dd/MM/yyyy HH:mm'
              }}
            </p>
            <p *ngIf="producto.oferta.fecha_fin">
              <strong>Fecha de término:</strong>
              {{ producto.oferta.fecha_fin.toDate() | date:'dd/MM/yyyy HH:mm' }}
            </p>

            <div class="acciones">
              <ion-button
                fill="clear"
                color="danger"
                (click)="eliminarOferta(producto.oferta.id!)"
              >
                <ion-icon name="trash-outline"></ion-icon>
              </ion-button>
            </div>
          </ion-card-content>
        </ion-card>

        <!-- Acciones sobre el producto -->
        <div class="acciones">
          <ion-button
            fill="clear"
            color="danger"
            (click)="eliminarProducto(producto.producto_id!)"
          >
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
          <ion-button
            fill="clear"
            color="warning"
            (click)="abrirModalAutostock(producto)"
          >
            <ion-icon name="notifications-outline"></ion-icon>
          </ion-button>

          <ion-button
            fill="clear"
            color="success"
            (click)="abrirModalOferta(producto)"
          >
            <ion-icon name="pricetags-outline"></ion-icon>
          </ion-button>

          <ion-button
            fill="clear"
            color="primary"
            (click)="abrirModalEditar(producto)"
          >
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- Modal agregar producto -->
  <ion-modal
    [isOpen]="mostrarModal"
    (didDismiss)="cerrarModal()"
    class="producto-modal"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo Producto</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModal()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      
      <ion-content>
        <form
          (ngSubmit)="guardarProducto(nuevoProductoForm)"
          class="form-producto"
        >
          <ion-list-header>
            <ion-label>Información Básica</ion-label>
          </ion-list-header>

          <ion-item>
            <ion-label position="floating">Nombre del Producto</ion-label>
            <ion-input
              [(ngModel)]="nuevoProductoForm.titulo"
              name="titulo"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Descripción</ion-label>
            <ion-textarea
              [(ngModel)]="nuevoProductoForm.descripcion"
              name="descripcion"
              rows="3"
            ></ion-textarea>
          </ion-item>

          <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select
              [(ngModel)]="nuevoProductoForm.estado"
              name="estado"
              required
            >
              <ion-select-option
                *ngFor="let estado of estados"
                [value]="estado"
              >
                {{ estado }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label>Categoría</ion-label>
            <ion-select
              [(ngModel)]="nuevoProductoForm.categoria"
              name="categoria"
            >
              <ion-select-option
                *ngFor="let categoria of categorias"
                [value]="categoria.nombre"
                >{{ categoria.nombre }}</ion-select-option
              >
            </ion-select>
          </ion-item>

          <ion-label>Etiquetas</ion-label>
          <div class="etiquetas-scroll">
            <div class="chip-wrapper">
              <ion-chip *ngFor="let etiqueta of nuevoProductoForm.etiquetas">
                <ion-label>{{ etiqueta }}</ion-label>
                <ion-icon
                  name="close"
                  (click)="eliminarEtiqueta(etiqueta)"
                  class="close-icon"
                ></ion-icon>
              </ion-chip>
            </div>
          </div>

          <ion-item>
            <ion-input
              placeholder="Nueva Etiqueta"
              [(ngModel)]="nuevaEtiqueta"
              name="nuevaEtiqueta"
              (keyup.enter)="agregarEtiqueta()"
            ></ion-input>
            <ion-button
              slot="end"
              (click)="agregarEtiqueta()"
              [disabled]="nuevoProductoForm.etiquetas.length >= 10"
            >
              Agregar
            </ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Precio (CLP)</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="nuevoProductoForm.precio"
              name="precio"
              min="1"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Stock disponible</ion-label>
            <ion-input
              type="number"
              [(ngModel)]="nuevoProductoForm.stock"
              name="stock"
              min="1"
              required
            ></ion-input>
          </ion-item>

          <ion-item>
            <ion-label>Imágenes</ion-label>
            <input
              id="fileInput"
              class="input-img"
              type="file"
              multiple
              (change)="procesarImagenes($event)"
              accept="image/*"
            />
            <label for="fileInput" class="custom-file-button"
              >Elegir Archivos</label
            >
          </ion-item>

          <div
            *ngIf="nuevoProductoForm.imagen.length > 0"
            class="imagenes-grid"
          >
            <ion-grid>
              <ion-row>
                <ion-col size="4" *ngFor="let img of nuevoProductoForm.imagen">
                  <img
                    [src]="img || 'assets/img/placeholder.png'"
                    class="imagen-preview"
                  />
                </ion-col>
              </ion-row>
            </ion-grid>
          </div>

          <ion-button expand="block" type="submit">
            <ion-icon name="save-outline" slot="start"></ion-icon>
            Guardar Producto
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal Agregar Oferta -->
  <ion-modal
    [isOpen]="mostrarOferta"
    (didDismiss)="cerrarModalOferta()"
    class="oferta-modal"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nueva Oferta</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModalOferta()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <form
          #ofertaForm="ngForm"
          (ngSubmit)="guardarOferta(ofertaForm)"
          class="form-oferta"
        >
          <ng-container *ngIf="nuevaOfertaForm">
            <ion-item>
              <ion-label position="floating">Precio oferta</ion-label>
              <ion-input
                type="number"
                [(ngModel)]="nuevaOfertaForm.precio_oferta"
                name="precio_oferta"
                min="1"
                required
              ></ion-input>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Fecha de inicio</ion-label>
              <ion-datetime
                [(ngModel)]="nuevaOfertaForm.fecha_inicio"
                name="fecha_inicio"
                locale="es-CL"
                display-format="DD [de] MMMM [de] YYYY, HH:mm"
                picker-format="DD MM YYYY HH mm"
                presentation="date-time"
                required
              >
              </ion-datetime>
            </ion-item>

            <ion-item>
              <ion-label position="floating">Fecha de fin</ion-label>
              <ion-datetime
                [(ngModel)]="nuevaOfertaForm.fecha_fin"
                name="fecha_fin"
                locale="es-CL"
                display-format="DD [de] MMMM [de] YYYY, HH:mm"
                picker-format="DD MM YYYY HH mm"
                presentation="date-time"
                required
              >
              </ion-datetime>
            </ion-item>
          </ng-container>

          <ion-button
            expand="block"
            type="submit"
            [disabled]="ofertaForm.invalid"
          >
            <ion-icon name="save-outline" slot="start"></ion-icon>
            Guardar Oferta
          </ion-button>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal Configurar AutoStock -->
  <ion-modal
    [isOpen]="mostrarModalAutostock"
    (didDismiss)="cerrarModalAutostock()"
    class="auto-stock-modal"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Configurar alerta de stock</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="cerrarModalAutostock()">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <ion-content>
        <form
          #autoStockForm="ngForm"
          (ngSubmit)="guardarAutostock(autoStockForm)"
          class="form-autostock"
        >
          <ion-list>
            <ion-item>
              <ion-label position="stacked">Stock mínimo</ion-label>
              <ion-input
                type="number"
                [(ngModel)]="stockMinimo"
                name="stockMinimo"
                required
                min="1"
              ></ion-input>
            </ion-item>

            <ion-item lines="none">
              <ion-label>Activar alerta de stock</ion-label>
              <ion-toggle
                [(ngModel)]="activarAutoStock"
                name="activarAutoStock"
              ></ion-toggle>
            </ion-item>
          </ion-list>

          <ion-footer>
            <ion-button expand="block" type="submit">Guardar</ion-button>
          </ion-footer>
        </form>
      </ion-content>
    </ng-template>
  </ion-modal>

  <!-- Modal Editar Producto -->
<ion-modal
  [isOpen]="mostrarModalEdicion"
  (didDismiss)="cerrarModalEdicion()"
  class="producto-modal"
>
  <ng-template>
    <ion-header>
      <ion-toolbar>
        <ion-title>Editar Producto</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="cerrarModalEdicion()">
            <ion-icon name="close-outline"></ion-icon>
          </ion-button>
        </ion-buttons>
      </ion-toolbar>
    </ion-header>

    <ion-content>
      <form
        (ngSubmit)="guardarCambiosProducto(productoEditandoForm)"
        class="form-producto"
      >
        <ion-list-header>
          <ion-label>Información del Producto</ion-label>
        </ion-list-header>

        <ion-item>
          <ion-label position="floating">Nombre del Producto</ion-label>
          <ion-input
            [(ngModel)]="productoEditandoForm.titulo"
            name="tituloEdit"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Descripción</ion-label>
          <ion-textarea
            [(ngModel)]="productoEditandoForm.descripcion"
            name="descripcionEdit"
            rows="3"
          ></ion-textarea>
        </ion-item>

        <ion-item>
          <ion-label>Estado</ion-label>
          <ion-select
            [(ngModel)]="productoEditandoForm.estado"
            name="estadoEdit"
            required
          >
            <ion-select-option *ngFor="let estado of estados" [value]="estado">
              {{ estado }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-item>
          <ion-label>Categoría</ion-label>
          <ion-select
            [(ngModel)]="productoEditandoForm.categoria"
            name="categoriaEdit"
          >
            <ion-select-option
              *ngFor="let categoria of categorias"
              [value]="categoria.nombre"
            >
              {{ categoria.nombre }}
            </ion-select-option>
          </ion-select>
        </ion-item>

        <ion-label>Etiquetas</ion-label>
        <div class="etiquetas-scroll">
          <div class="chip-wrapper">
            <ion-chip *ngFor="let etiqueta of productoEditandoForm.etiquetas">
              <ion-label>{{ etiqueta }}</ion-label>
              <ion-icon
                name="close"
                (click)="eliminarEtiquetaEdicion(etiqueta)"
                class="close-icon"
              ></ion-icon>
            </ion-chip>
          </div>
        </div>

        <ion-item>
          <ion-input
            placeholder="Nueva Etiqueta"
            [(ngModel)]="nuevaEtiquetaEdit"
            name="nuevaEtiquetaEdit"
            (keyup.enter)="agregarEtiquetaEdicion()"
          ></ion-input>
          <ion-button
            slot="end"
            (click)="agregarEtiquetaEdicion()"
            [disabled]="productoEditandoForm.etiquetas.length >= 10"
          >
            Agregar
          </ion-button>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Precio (CLP)</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="productoEditandoForm.precio"
            name="precioEdit"
            min="1"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Stock disponible</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="productoEditandoForm.stock"
            name="stockEdit"
            min="1"
            required
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Stock mínimo</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="productoEditandoForm.inventario_minimo"
            name="stockMinimoEdit"
            min="0"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label>Imágenes</ion-label>
          <input
            id="fileEditInput"
            class="input-img"
            type="file"
            multiple
            (change)="procesarImagenesEdicion($event)"
            accept="image/*"
          />
          <label for="fileEditInput" class="custom-file-button"
            >Elegir Archivos</label
          >
        </ion-item>

        <div
          *ngIf="productoEditandoForm.imagen.length > 0"
          class="imagenes-grid"
        >
          <ion-grid>
            <ion-row>
              <ion-col
                size="4"
                *ngFor="let img of productoEditandoForm.imagen"
              >
                <img
                  [src]="img || 'assets/img/placeholder.png'"
                  class="imagen-preview"
                />
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <ion-button expand="block" type="submit">
          <ion-icon name="save-outline" slot="start"></ion-icon>
          Guardar Cambios
        </ion-button>
      </form>
    </ion-content>
  </ng-template>
</ion-modal>

</app-navegacion>
