* {
    box-sizing: border-box;
  }
  
  ion-content {
    --background: #f5f2ef;
    height: 100%;
  }
  
  .header-toolbar {
    --background: #D2B48C;    
    --color: white;
  }
  
  .historial-grid {
    display: grid;
    grid-template-columns: 1fr; /* Una columna por defecto */
    gap: 12px;
    padding: 5%;
  }
  
  .venta-card {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: white;
    padding: 15px;
  
    ion-card-content {
      padding: 8px;
  
      .detalle {
        font-size: 14px;
        font-weight: 500;
        margin-bottom: 5px;
        line-height: 1.2;
  
        .fecha-hora {
          display: flex;
          justify-content: space-between;
          font-size: 12px;
          color: #555;
  
          .fecha, .hora {
            font-weight: bold;
          }
        }
  
        .producto-nombre {
          font-size: 16px;
          font-weight: bold;
          color: #703c3c;
          margin: 4px 0;
        }
  
        .id {
          font-size: 14px;
          color: #888;
          margin-top: 2px;
        }
  
        .comprador {
          font-size: 14px;
          font-style: italic;
          color: #5d3e2c;
          margin-top: 4px;
        }
      }
    }
  }
  
  .historial-ventas-page .title-container h1 {
    font-size: 1.8rem;
    font-weight: bold;
    color: #444;
  }
  
  @media (max-width: 768px) {
    .historial-grid {
      grid-template-columns: 1fr; /* Una columna para pantallas pequeñas */
    }
  
    .venta-card {
      padding: 10px;
      font-size: 14px;
    }
  }
  