<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Historial de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="historial-grid">
    <div class="venta-card" *ngFor="let venta of historialVentas">
      <ion-card-content>
        <div class="detalle">
          <div class="fecha-hora">
            <span class="fecha">{{ venta.fecha }}</span>
            <span class="hora">{{ venta.hora }}</span>
          </div>
          <!-- Información del comprador -->
          <div class="cliente-detalle">
            <div class="nombre">Nombre: {{ venta.cliente.nombre }}</div>
            <div class="correo">Correo: {{ venta.cliente.correo }}</div>
          </div>
          <!-- Si hay un solo producto, se muestra solo ese producto -->
          <div *ngIf="venta.productos.length === 1" class="producto-unico">
            <div class="producto-nombre">{{ venta.productos[0].nombre }}</div>
            <div class="id">ID: {{ venta.productos[0].id }}</div>
            <div class="precio">Precio: ${{ venta.productos[0].precio }}</div>
          </div>
          <!-- Si hay varios productos, se genera una lista -->
          <div *ngIf="venta.productos.length > 1">
            <div *ngFor="let producto of venta.productos" class="producto-detalle">
              <div class="producto-nombre">{{ producto.nombre }}</div>
              <div class="id">ID: {{ producto.id }}</div>
              <div class="precio">Precio: ${{ producto.precio }}</div>
            </div>
          </div>
          <div class="direccion">
            Dirección: {{ venta.direccion }}
          </div>
          <div class="comuna-region">
            Comuna: {{ venta.comuna }}, Región: {{ venta.region }}
          </div>
          <div class="sexo">
            Comprador: {{ venta.sexo }}
          </div>
        </div>
      </ion-card-content>
    </div>
  </div>
</ion-content>

