<app-navegacion>
  <ion-content>
    <div *ngIf="notificaciones && notificaciones.length > 0; else sinNotificaciones">
      <div class="notificaciones-container">
        <div *ngFor="let notificacion of notificaciones" (click)="abrirNotificacion(notificacion.id)" class="notificacion-card" 
          [class.no-leido]="notificacion.estado === 'no vista'" 
          [class.leido]="notificacion.estado === 'vista'">
          <div class="notificacion-icon">
            <ion-icon name="notifications-outline"></ion-icon>
          </div>
          <div class="notificacion-content">
            <!-- Título -->
            <h3 class="notificacion-titulo">
              <!-- Muestra el título completo si está expandido, de lo contrario, lo trunca -->
              {{ notificacionExpandida === notificacion.id ? notificacion.titulo : (notificacion.titulo | slice:0:30) + '...' }}
            </h3>
            <!-- Descripción -->
            <p class="notificacion-descripcion">
              <!-- Muestra la descripción completa si está expandida, de lo contrario, la trunca -->
              {{ notificacionExpandida === notificacion.id ? notificacion.descripcion : (notificacion.descripcion | slice:0:50) + '...' }}
            </p>
            <span class="notificacion-fecha">{{ notificacion.fecha_creacion.toDate() | date: 'dd MMM yyyy, HH:mm' }}</span>
          </div>

          <div *ngIf="notificacionExpandida === notificacion.id && notificacion.imagen" class="notificacion-detalle">
            <div *ngIf="notificacion.imagen.length === 1" class="imagen-container">
              <img [src]="notificacion.imagen[0]" alt="Imagen de notificación" />
            </div>
          
            <div *ngIf="notificacion.imagen.length > 1" class="imagenes-grid">
              <div *ngFor="let imagen of notificacion.imagen" class="imagen-container">
                <img [src]="imagen" alt="Imagen de notificación" />
              </div>
            </div>
          </div>

          <ion-button fill="clear" color="danger" class="boton-eliminar" (click)="eliminarNotificacion(notificacion.id); $event.stopPropagation()">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </div>
    </div>

    <ng-template #sinNotificaciones>
      <div class="sin-notificaciones">
        <ion-icon name="notifications-off-outline"></ion-icon>
        <h2>No tienes notificaciones</h2>
        <p>Cuando tengas notificaciones, aparecerán aquí.</p>
      </div>
    </ng-template>
  </ion-content>
</app-navegacion>