<app-navegacion>

  <ion-content [fullscreen]="true" class="homepage-admin">
  <!-- Bienvenida -->
  <div class="title-container">
    <h1>BIENVENIDO ADMIN</h1>
  </div>

  <!-- Menú de control -->
  <div class="tasks-container">
    <h2>MENÚ DE CONTROL</h2>
    <div class="tasks-buttons">
      <ion-button class="task-button" expand="block" (click)="goToUsuarios()">Usuarios</ion-button>
      <ion-button class="task-button" expand="block" (click)="goToSolicitudesDeSoporte()">Solicitudes de Soporte</ion-button>
    </div>
  </div>
</ion-content>

</app-navegacion>