<app-navegacion>

  <ion-content>

    <div *ngIf="usuario" class="perfil-vendedor-container">
      <!-- Avatar y nombre -->
      <div class="perfil-header">
        <ion-avatar class="avatar">
          <img src="../../../assets/img/profile-placeholder.png" alt="Foto de perfil vendedor">
        </ion-avatar>
        <h2>{{ vendedor.nombre }}</h2>
        <p>{{ vendedor.correo }}</p>
      </div>

      <!-- Opciones de navegación -->
      <div class="perfil-opciones">

        <ion-button expand="block" fill="outline" routerLink="/cambio-clave">
          <ion-icon name="key" slot="start"></ion-icon>
          Cambiar Contraseña
        </ion-button>

        <ion-button expand="block" fill="outline" routerLink="/cambio-nombre-usuario">
          <ion-icon name="create" slot="start"></ion-icon>
          Cambiar Nombre de Usuario
        </ion-button>

        <ion-button expand="block" fill="outline" routerLink="/historial-ventas">
          <ion-icon name="list" slot="start"></ion-icon>
          Historial de Ventas
        </ion-button>

        <ion-button expand="block" fill="outline" routerLink="/mis-productos">
          <ion-icon name="cube" slot="start"></ion-icon>
          Mis Productos
        </ion-button>

        <ion-button *ngIf="usuario.membresia" expand="block" fill="outline" routerLink="/prediccion-ventas">
          <ion-icon name="cube" slot="start"></ion-icon>
          Ver prediccion de ventas
        </ion-button>

        <ion-button *ngIf="!usuario.membresia" expand="block" fill="outline" (click)="estadoBotonPaypal()">
          <ion-icon name="cube" slot="start"></ion-icon>
          Ver prediccion de ventas
        </ion-button>
        
        <div *ngIf="mostrarBotonPaypal" class="boton-paypal" style="display: block;">
          <div class="pagar">
            <div class="total-desglose">
              <div class="total-final">Miembro 1 año ${{ this.costoMembresia | number }} CLP</div>
              <ion-button *ngIf="!mostrarBotonPaypal" expand="block" color="tertiary" (click)="estadoBotonPaypal()">Obtener membresia</ion-button>
            </div>
              <div id="paypal-button-container"></div>
            </div>
        </div>

      </div>

      <!-- Botón de cerrar sesión -->
      <div class="cerrar-sesion">
        <ion-button expand="block" color="danger" (click)="cerrarSesion()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-button>
      </div>

    </div>

  </ion-content>

</app-navegacion>
