ul {
  padding-left: 16px;
}
li {
  margin-bottom: 8px;
}
a {
  color: var(--ion-color-primary);
  text-decoration: underline;
}
ion-button {
  --border-radius: 1rem;
  --background: #d1a15a;
  --color: #ffffff;
  --border-color: #9a73399e;
  font-weight: bold;
}