<div class="usuarios-grid">
<ion-item *ngFor="let user of usuarios" [ngClass]="user.estaBloqueado ? 'bloqueado' : 'activo'">
  <ion-label>
    <h2>{{ user.nombre }}</h2>
    <p>{{ user.email }}</p>
    <small>{{ user.rol }}</small>
    <p *ngIf="user.estaBloqueado" class="motivo-bloqueo">
     <ion-icon name="lock-closed-outline"></ion-icon> Bloqueado: {{ user.motivoBloqueo }}
    </p>
  </ion-label>
  <ion-buttons slot="end">
    <ion-button fill="clear" color="danger" *ngIf="!user.estaBloqueado" (click)="bloquearUsuario(user)">
      <ion-icon name="lock-closed-outline"></ion-icon>
    </ion-button>
    <ion-button fill="clear" color="success" *ngIf="user.estaBloqueado" (click)="desbloquearUsuario(user)">
      <ion-icon name="lock-open-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
</ion-item>
</div>