<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button class="back-button" fill="clear" (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Usuarios registrados</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="users-page">
  <ion-list *ngIf="usuarios.length > 0; else noUsuarios">
    <ion-item *ngFor="let user of usuarios">
      <ion-label>
        <h2>{{ user.nombre }}</h2>
        <p>{{ user.email }}</p>
        <small>{{ user.rol }}</small>
      </ion-label>
      <ion-buttons slot="end">
        <ion-button fill="clear" color="danger" (click)="bloquearUsuario(user)">
        <ion-icon name="lock-closed-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-list>

  <ng-template #noUsuarios>
    <div class="empty-state">
      <p>No hay usuarios registrados.</p>
    </div>
  </ng-template>
</ion-content>
