:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  ion-content {
    --background: #f5f2ef;
    padding: 10px;
    flex-grow: 1;
    contain: strict;
    overflow-y: auto;
  }
}

ion-header {
  flex-shrink: 0;
  height: auto;
  background: linear-gradient(to bottom, #d1a15a 0%, #e6c890 100%);

  ion-toolbar {
    --background: transparent;
    --border-color: transparent;
  }

  ion-title {
    font-size: 20px;
    color: white;
    text-align: center;
  }

  ion-buttons ion-button {
    --color: white;
  }
}

form.form-oferta {
  background-color: #ffffff;
  border-radius: 1.5rem;
  padding: 1.5rem;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  ion-item {
    margin-bottom: 12px;
    border-radius: 10px;
    --background: #fff;
    border: 1px solid #8B5E3C;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  }

  ion-label {
    font-weight: 600;
    font-size: 14px;
    color: #444;
  }

  ion-input,
  ion-datetime {
    font-size: 14px;
    color: #333;
  }
}

ion-button {
  --background: #d1a15a;
  --color: white;
  --border-radius: 1rem;
  --border-color: #9a73399e;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 0;

  ion-icon {
    margin-right: 8px;
  }

  &:hover {
    background-color: #b88c3e;
  }

  &:disabled {
    --background: #e0c8a1;
    --border-color: #d1b89e;
  }
}
