:host {
  display: flex;
  height: 100%;
  flex-direction: column;

  ion-content {
    --background: #f5f2ef;
    padding: 10px;
    flex-grow: 1;
    contain: strict;
    overflow-y: auto;
  }
}

/* Encabezado del modal */
ion-header {
  flex-shrink: 0;
  height: 48px;

  ion-toolbar {
    --background: #f5f2ef;
    --border-color: transparent;
  }

  ion-title {
    font-size: 18px;
    font-weight: bold;
    color: #333;
  }

  ion-buttons {
    ion-button {
      --color: #d1a15a;
    }
  }
}

/* Formulario de nueva oferta */
form.form-oferta {
  padding: 10px;

  ion-item {
    margin-bottom: 8px;
    --background: transparent;
    --inner-padding-end: 4px;
  }

  ion-label {
    font-weight: bold;
    font-size: 14px;
  }

  ion-input,
  ion-datetime {
    --padding-start: 4px;
    --padding-end: 4px;
    font-size: 14px;
  }
}

/* Botón Guardar Oferta */
ion-button {
  --background: #d1a15a;
  --color: white;
  --border-radius: 1rem;
  --border-color: #46271a;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 12px 0;

  ion-icon {
    margin-right: 8px;
  }

  &:hover {
    background-color: #b88c3e;
  }

  &:disabled {
    --background: #e0c8a1;
    --border-color: #d1b89e;
  }
}
