.producto-card {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease;
  border: 2px solid #f0a500;

  &:hover {
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
  }
}

.producto-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.producto-header {
  padding: 15px;
  background-color: #fff;
}

.producto-nombre {
  font-size: 1.3em;
  font-weight: bold;
  color: #333;
  margin: 8px 0 0 0;
}

.producto-descripcion {
  font-size: 1rem;
  color: #555;
  margin: 4px 0 4px 0;
}

.producto-precio-original {
  font-size: 1.1em;
  color: #000000;
}

.producto-precio-original-tachado {
  font-size: 1.1em;
  color: #6a6a6a;
  text-decoration: line-through;
}

.producto-precio-oferta {
  font-size: 1.3em;
  color: #d32f2f;
  font-weight: bold;
}

.producto-stock {
  font-size: 1em;
  color: #4caf50;
  margin-top: 10px;
  display: flex;
  align-items: center;

  ion-icon {
    margin-right: 5px;
  }
}

.etiquetas-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2%;
  margin: 2% 0;
}

.etiqueta {
  background-color: #e0e0e0;
  color: #333;
  padding: 5px 10px;
  margin: 0.5%;
  border-radius: 15px;
  font-size: 0.9em;
  text-align: center;
}

.mensaje-wsp-container {
  margin: 16px;
  text-align: center;
}

ion-button {
  --border-radius: 8px;
  --background: #25d366;
  --color: white;
  font-weight: bold;
}

.favorito-container{
  display: flex;
  align-items: center;
  justify-content: center;
}

.favorito{
  --border-radius: 8px;
  --background: #f2b0ff;
  --color: rgb(0, 0, 0);
  font-weight: bold;
  align-items: center;

}

.select-stock{
  padding: 2%; 
  color: black;
}

.botones-container {
  display: flex;
  flex-direction: column;
  gap: 2%;
  margin: 2%;
}

.boton-wsp {
  --background: #25d366; /* Color verde de WhatsApp */
  --color: #ffffff;
  --border-radius: 10px; /* Bordes redondeados */
  font-size: 16px;
  font-weight: bold;
}

.boton-carrito {
  --background: #007bff; /* Color azul para el carrito */
  --color: #ffffff;
  --border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

.boton-favorito {
  --background: #ff4757; /* Color rojo para favoritos */
  --color: #ffffff;
  --border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
}

ion-button ion-icon {
  font-size: 18px; /* Tamaño del ícono */
  margin-right: 8px; /* Espaciado entre el ícono y el texto */
}

.producto-detalles {
  margin: 2.5%;
  padding: 5%;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.producto-detalles h3 {
  font-size: 1.2em;
  font-weight: bold;
  color: #333;
  margin-bottom: 10px;
}

.producto-detalles p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
  margin-bottom: 20px;
}

.imagenes-relacionadas {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 10px;
  margin-top: 15px;
}

.imagen-relacionada img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  &:hover {
    transform: scale(1.05);
  }
}

.pago-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2.5%;
  padding: 5%;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.total-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.total-text {
  padding: 0 0 0 5%;
  font-size: 18px;
  color: #555;
}

.total-amount {
  padding: 0 5% 0 0;
  font-size: 20px;
  color: #0070ba;
}

.paypal-button-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#paypal-button-container {
  margin-top: 10px;
  width: 100%;
}

.producto-eliminado-aviso {
  text-align: center;
  color: red;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-items: center;
}