<app-navegacion>
  <div *ngIf="producto && producto.esta_eliminado === false && producto.stock > 0; else eliminado">
    <ion-card class="producto-card">
      <img [src]="producto.imagen[0]" class="producto-img" />
      <ion-card-header class="producto-header">
        <div class="etiquetas-container">
          <span class="etiqueta"> {{ producto.categoria | titlecase }} </span>
          <span *ngFor="let etiqueta of producto.etiquetas" class="etiqueta">{{ etiqueta | titlecase }}</span>
        </div>

        <div class="estrellas-general">
          <span *ngFor="let contador of [1,2,3,4,5]">
            <ion-icon [name]="contador <= entero(producto.calificacion) ? 'star' : 'star-outline'"></ion-icon>
          </span>
          <span class="estrellas-numero">({{ entero(producto.calificacion) || 0 }})</span>
          <span>Calificación promedio</span>
        </div>

        <div *ngIf="miCalificacion || !miCalificacion && comprado" class="estrellas-usuario">
          <span *ngFor="let contador of [1,2,3,4,5]">
            <ion-icon *ngIf="miCalificacion" [name]="contador <= miCalificacion ? 'star' : 'star-outline' " (click)="actualizarCalificacion(contador)"></ion-icon>
            <ion-icon *ngIf="!miCalificacion && comprado" [name]="contador <= 0 ? 'star' : 'star-outline' " (click)="actualizarCalificacion(contador)"></ion-icon>
          </span>
          <span class="estrellas-numero">({{ miCalificacion || 0 }})</span>
          <span>Tu calificación</span>
        </div>

        <ion-card-title class="producto-nombre">{{ producto.producto_titulo | titlecase }}</ion-card-title>

        <ion-card-subtitle *ngIf="!producto.precio_oferta" class="producto-precio-original">
          Precio: {{ producto.precio | number }} CLP
        </ion-card-subtitle>
        
        <ion-card-subtitle *ngIf="producto.precio_oferta && producto.precio_oferta < producto.precio" class="producto-precio-original-tachado">
          Precio original: {{ producto.precio | number }} CLP
        </ion-card-subtitle>
        
        <ion-card-subtitle *ngIf="producto.precio_oferta && producto.precio_oferta < producto.precio" class="producto-precio-oferta">
          Precio oferta: {{ producto.precio_oferta | number }} CLP
        </ion-card-subtitle>
        
        <ion-card-subtitle class="producto-stock">
          <ion-icon name="pricetag" slot="start"></ion-icon> Stock disponible: {{ producto.stock | number }}
        </ion-card-subtitle>

        <div class="producto-envio-info">
          <div class="plazo-envio">
            <ion-icon name="car-outline"></ion-icon>
            <span><b>Plazo de despacho estimado:</b> 3 a 7 días hábiles</span>
          </div>
          <div class="nota-legal-envio">
            <ion-icon name="information-circle-outline"></ion-icon>
            <span>
              <b>Nota legal:</b> El despacho de este producto es responsabilidad exclusiva del vendedor y/o del servicio externo de envío.
            </span>
          </div>
        </div>
      </ion-card-header>
      
      <ion-select class="select-stock" label="Cantidad deseada" label-placement="floating" fill="outline" [(ngModel)]="opcionStock">
        <ion-select-option *ngFor="let x of cantidadOpciones" [value]="x">{{ x }}</ion-select-option>
      </ion-select>
      
      <div class="botones-container">
        <ion-button expand="block" color="success" (click)="mensajeWhatsApp()">
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
          Contactar por WhatsApp
        </ion-button>

        <ion-button *ngIf="usuario && usuario != 'invitado'" expand="block" color="danger" (click)="manejarFavorito(producto)">
          <ion-icon [name]="esFavorito ? 'heart' : 'heart-outline'" slot="start"></ion-icon>
          {{ esFavorito ? 'Quitar favorito' : 'Agregar favorito' }}
        </ion-button>
        
        <ion-button *ngIf="!enCarrito; else estaEnCarrito" expand="block" color="primary" (click)="agregarAlCarrito(producto)">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          Agregar al carrito
        </ion-button>

        <ng-template #estaEnCarrito>
          <ion-button expand="block" color="primary" (click)="agregarAlCarrito(producto)">
            <ion-icon name="cart-outline" slot="start"></ion-icon>
            Producto ya en carrito
          </ion-button>
        </ng-template>

      </div>

      <!-- Acciones de administrador -->
      <ion-card *ngIf="usuarioEsAdmin" class="acciones-admin-card">
        <ion-card-header>
          <ion-card-title>Acciones de administrador</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <div class="acciones-admin">
            <ion-button fill="clear" color="primary" (click)="abrirModalEditarProducto(producto)">
              <ion-icon name="create-outline"></ion-icon>
            </ion-button>
            <ion-button fill="clear" color="danger" (click)="eliminarProducto(producto.producto_id)">
              <ion-icon name="trash-outline"></ion-icon>
            </ion-button>
          </div>
        </ion-card-content>
      </ion-card>

      <div *ngIf="tienda" class="tienda-header" (click)="verTienda()">
        <div class="tienda-info">
          <h2 class="tienda-nombre">{{ tienda.nombre }}</h2>
          <p>Calificación De Vendedor</p>
          <div class="tienda-calificacion">
            <span *ngFor="let contador of [1,2,3,4,5]">
              <ion-icon [name]="contador <= entero(tienda.calificacion) ? 'star' : 'star-outline'"></ion-icon>
            </span>
          </div>
        </div>
      </div>
      
      <div class="producto-detalles">
        <p class="producto-descripcion">
          <ion-icon name="pin-outline"></ion-icon>
          {{ producto.direccionOrigen?.calle }} {{ producto.direccionOrigen?.numero }},
          {{ producto.direccionOrigen?.departamento ? producto.direccionOrigen.departamento + ',' : '' }}
          {{ producto.direccionOrigen?.comuna }}, {{ producto.direccionOrigen?.region }}
        </p>
        <h3>Descripción del producto</h3>
        <p class="producto-descripcion">{{ producto.producto_descripcion }}</p>
        <h3>Estado del producto</h3>
        <p class="producto-descripcion">{{ producto.estado | titlecase }}</p>
        <h3>Imágenes del producto</h3>
        <div class="imagenes-relacionadas">
          <div *ngFor="let img of producto.imagen" class="imagen-relacionada">
            <img [src]="img"/>
          </div>
        </div>
      </div>
    </ion-card>
  </div>

  <ng-template #eliminado>
      <ion-card class="producto-card">
        <img [src]="producto?.imagen[0]" class="producto-img" />
        <ion-card-header class="producto-header">
          <div class="etiquetas-container">
            <span class="etiqueta"> {{ producto?.categoria | titlecase }} </span>
            <span *ngFor="let etiqueta of producto?.etiquetas" class="etiqueta">{{ etiqueta | titlecase }}</span>
          </div>
          <ion-card-title class="producto-nombre">{{ producto?.producto_titulo | titlecase }}</ion-card-title>
          <div class="producto-eliminado-aviso">
            <h3>Este producto ya no está disponible para la venta.</h3>
          </div>
        </ion-card-header>
      </ion-card>
      
      <div class="producto-detalles">
        <h3>Descripción del producto</h3>
        <p class="producto-descripcion">{{ producto?.producto_descripcion }}</p>
        <h3>Imágenes del producto</h3>
        <div class="imagenes-relacionadas">
          <div *ngFor="let img of producto?.imagen" class="imagen-relacionada">
            <img [src]="img"/>
          </div>
        </div>
      </div>
  </ng-template>
</app-navegacion>

  <!-- Calificación del usuario -->


  <!-- ...resto del contenido de la página... -->

