<app-navegacion>
  <div *ngIf="producto">
    <ion-card class="producto-card">
      <img [src]="producto.imagen[0]" class="producto-img" />
      <ion-card-header class="producto-header">
        <div class="etiquetas-container">
          <span class="etiqueta"> {{ producto.categoria | titlecase }} </span>
          <span *ngFor="let etiqueta of producto.etiquetas" class="etiqueta">{{ etiqueta | titlecase }}</span>
        </div>
        <ion-card-title class="producto-nombre">{{ producto.producto_titulo | titlecase }}</ion-card-title>
        <ion-card-subtitle class="producto-descripcion">{{ producto.atributo | titlecase }}</ion-card-subtitle>

        <ion-card-subtitle *ngIf="!producto.precio_oferta" class="producto-precio-original">
          Precio: {{ producto.precio | number }} CLP
        </ion-card-subtitle>
        
        <ion-card-subtitle *ngIf="producto.precio_oferta && producto.precio_oferta < producto.precio" class="producto-precio-original-tachado">
          Precio original: {{ producto.precio | number }} CLP
        </ion-card-subtitle>
        
        <ion-card-subtitle *ngIf="producto.precio_oferta && producto.precio_oferta < producto.precio" class="producto-precio-oferta">
          Precio oferta: {{ producto.precio_oferta | number }} CLP
        </ion-card-subtitle>
        
        <ion-card-subtitle class="producto-stock">
          <ion-icon name="pricetag" slot="start"></ion-icon> Stock disponible: {{ producto.stock | number }}
        </ion-card-subtitle>
      </ion-card-header>
      
      <ion-select class="select-stock" label="Cantidad deseada" label-placement="floating" fill="outline" [(ngModel)]="opcionStock">
        <ion-select-option *ngFor="let x of cantidadOpciones" [value]="x">{{ x }}</ion-select-option>
      </ion-select>
      
      <div class="botones-container">
        <ion-button expand="block" color="success" (click)="mensajeWhatsApp()">
          <ion-icon name="logo-whatsapp" slot="start"></ion-icon>
          WhatsApp
        </ion-button>

        <ion-button expand="block" color="danger" (click)="manejarFavorito(producto)">
          <ion-icon [name]="esFavorito ? 'heart' : 'heart-outline'" slot="start"></ion-icon>
          {{ esFavorito ? 'Quitar favorito' : 'Favorito' }}
        </ion-button>
        
        <ion-button expand="block" color="primary" (click)="agregarAlCarrito(producto)">
          <ion-icon name="cart-outline" slot="start"></ion-icon>
          Carrito
        </ion-button>
        
      </div>
    </ion-card>
    
    <div class="pago-container">
      <div class="total-container">
        <span class="total-text">Total a pagar:</span>
        <span class="total-amount">${{ calcularTotal() | number }} CLP</span>
      </div>
      <div class="paypal-button-container">
        <ion-button expand="block" color="tertiary" *ngIf="!mostrarPaypal" (click)="iniciarBotonPaypal()">
          <ion-icon name="card-outline" slot="start"></ion-icon>
          Pagar con PayPal
        </ion-button>
        <div id="paypal-button-container"></div>
      </div>
    </div>

    <div class="producto-detalles">
      <h3>Descripción del producto</h3>
      <p class="producto-descripcion">{{ producto.producto_descripcion }}</p>

      <h3>Imágenes del producto</h3>
      <div class="imagenes-relacionadas">
        <div *ngFor="let img of producto.imagen" class="imagen-relacionada">
          <img [src]="img"/>
        </div>
      </div>
    </div>
    
  </div>
</app-navegacion>
