<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Reportes a usuarios</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-card *ngFor="let reporte of reporte" class="reporte-card">
        <ion-card-header>
            <ion-card-title>{{ reporte.titulo }}</ion-card-title>
            <ion-card-subtitle>{{ reporte.motivo }}</ion-card-subtitle>
        </ion-card-header>

        <ion-card-content>
            <p><strong>Descripción:</strong> {{ reporte.descripcion }}</p>
            <p><strong>Estado:</strong> {{ reporte.estado }}</p>
            <p><strong>Fecha:</strong> {{ reporte.fechaCreacion | date:'medium' }}</p>
            <p><strong>Autor:</strong> {{ reporte.autorNombre }}</p>
            <p><strong>Email:</strong> {{ reporte.autorEmail }}</p>
            <p><strong>Usuario reportado:</strong> {{ reporte.usuarioReportado }}</p>


            <div class="botones-acciones">
                <ion-button class="boton-rechazar" (click)="rechazarReporte(reporte)">
                <ion-icon name="close-circle-outline" color="danger"></ion-icon>
                </ion-button>

                <ion-button 
                class="boton-ver-imagenes" 
                (click)="verImagenes(reporte)" 
                [disabled]="!reporte.imagenes || reporte.imagenes.length === 0">
                <ion-icon name="image-outline" color="warning"></ion-icon>
                </ion-button>

                <ion-button class="boton-a" (click)="aprobarReporte(reporte)">
                <ion-icon name="checkmark-circle-outline" color="success"></ion-icon>
                </ion-button>
            </div>
        </ion-card-content>
    </ion-card>
</ion-content>