<app-navegacion>
  <ion-content [fullscreen]="true" class="cambio-nombre-usuario-page">
    <div class="title-container">
      <h1>CAMBIA TÚ<br>NOMBRE DE USUARIO</h1>
    </div>
  
    <div class="form-container">
      <form [formGroup]="usernameForm" (ngSubmit)="onSubmit()">
        <ion-item>
          <ion-input
            placeholder="Ingresa tú nuevo nombre de usuario"
            formControlName="newUsername"
          ></ion-input>
        </ion-item>
        <ion-text color="danger" *ngIf="usernameForm.get('newUsername')?.touched && usernameForm.get('newUsername')?.errors?.['required']">
          El nombre de usuario es obligatorio.
        </ion-text>
        <ion-text color="danger" *ngIf="usernameForm.get('newUsername')?.touched && usernameForm.get('newUsername')?.errors?.['maxlength']">
          El nombre de usuario no puede exceder los 30 caracteres.
        </ion-text>
  
        <!-- Botón de cambiar nombre -->
        <ion-button
          expand="block"
          class="submit-button"
          type="submit"
          [disabled]="usernameForm.invalid"
        >
          Cambiar nombre
        </ion-button>
      </form>
    </div>
  </ion-content>
</app-navegacion>
