/* Base */
* {
  box-sizing: border-box;
}

ion-content {
  --background: #f5f2ef;
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Header */
.header-toolbar {
  --background: #D2B48C;
  --color: white;
}

/* Tarjeta de reporte */
.solicitud-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  background: #fff;
  transition: transform 0.2s ease;
  
  &:hover {
    transform: scale(1.01);
  }

  ion-card-header {
    background-color: #D2B48C;
    border-bottom: 1px solid #ddd;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

    ion-card-title {
      font-size: 20px;
      font-weight: bold;
      color: #000000;
    }

    ion-card-subtitle {
      font-size: 14px;
      color: #5e4623;
    }
  }

  ion-card-content {
    font-size: 15px;
    color: #333;
    padding-bottom: 12px;

    p {
      margin: 6px 0;
      line-height: 1.4;

      strong {
        color: #5e4623;
      }
    }
  }
}

/* Botones */
.botones-acciones {
  display: flex;
  justify-content: space-between;
  gap: 12px;
  margin-top: 1rem;

  ion-button {
    flex: 1;
    font-size: 14px;
    --border-radius: 1rem;
    font-weight: bold;
    padding: 12px 0;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    --color: white;
    --background: #9a73399e;
    --border-color: #9a73399e;

    ion-icon {
      font-size: 22px;
    }
  }
}

ion-button:disabled {
  --background: #e0c8a1;
  --border-color: #d1b89e;
}

ion-button:hover {
  filter: brightness(0.95);
}
