<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrito de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="productos && productos.length > 0 && productos != undefined; else vacio" class="productos-grid">
    <div class="producto-card" *ngFor="let producto of productos">
      <img src="{{ producto.imagen }}" (click)="verDetalle(producto.variante_id)"/>
      <ion-card-content>
        <div class="nombre">{{ producto.nombre }}</div>
        <div *ngIf="!producto.precio_oferta ; else oferta" class="precio">${{ producto.precio | number }} CLP</div>
        <ng-template #oferta>
          <div class="precio-oferta">${{ producto.precio_oferta | number }} CLP</div>
          <div class="precio-original-tachado">${{ producto.precio | number }} CLP</div>
        </ng-template>
          <div class="descripcion">{{ producto.descripcion }}</div>

        <div class="producto-controles">
          <ion-button fill="outline" color="medium" (click)="restarProducto(producto.id)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <span class="cantidad">{{ producto.cantidad }}</span>
          <ion-button fill="outline" color="medium" (click)="sumarProducto(producto.id)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-button class="cancel-button" fill="solid" color="danger" (click)="quitarProducto(producto.id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </div>

    <div class="pagar">
      <ion-button expand="block" class="pagar-button" (click)="pagarTodo()">
        Pagar Todo - Total: ${{ obtenerTotalCarrito() }}
      </ion-button>
    </div>

    <!-- Contenedor del botón de PayPal -->
    <div id="paypal-button-container"></div>
  </div>


  <ng-template #vacio>
    <div class="vacio-container">
      <ion-icon name="cart-outline"></ion-icon>
      <h2>Carrito Vacío</h2>
      <p>Agrega productos a tu carrito para comprarlos.</p>
    </div>
  </ng-template>

</ion-content>
