<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button class="back-button" fill="clear" (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrito de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="direccionPrincipal && usuario && usuario.rol != 'invitado'" class="direccion-principal">
    <ion-item lines="none">
      <ion-label>
        <h3>Envío a:</h3>
        <p>
          {{ direccionPrincipal.calle }}, {{ direccionPrincipal.numero }}
          , {{ direccionPrincipal.comuna }} , {{ direccionPrincipal.region }}
        </p>
      </ion-label>
      <ion-button size="small" fill="clear" class="cafe-cacao-text" (click)="abrirModalDirecciones()">Elegir otra dirección</ion-button>
    </ion-item>
  </div>

  <div *ngIf="productos && productos.length > 0 && productos != undefined; else vacio" class="productos-grid">
    <div class="producto-card" *ngFor="let producto of productos">
      <img src="{{ producto.imagen }}" (click)="verDetalle(producto.producto_id)"/>
      <ion-card-content>
        <div class="nombre">{{ producto.producto_titulo }}</div>
        <div *ngIf="!producto.precio_oferta ; else oferta" class="precio">${{ producto.precio | number }} CLP</div>
        <ng-template #oferta>
          <div class="precio-oferta">${{ producto.precio_oferta | number }} CLP</div>
          <div class="precio-original-tachado">${{ producto.precio | number }} CLP</div>
        </ng-template>
        <div class="descripcion">{{ producto.descripcion }}</div>
        <div class="costo-envio">
          <ion-icon name="car-outline"></ion-icon>
          Envío: ${{ obtenerCostoEnvio(producto.producto_id) | number }} CLP
        </div>

        <div class="producto-controles">
          <ion-button *ngIf="producto.stock > 0" fill="outline" color="medium" (click)="restarProducto(producto.producto_id)">
            <ion-icon name="remove-outline"></ion-icon>
          </ion-button>
          <span *ngIf="producto.stock > 0; else sinStock" class="cantidad">{{ producto.cantidad }}</span>
          <ng-template #sinStock>
            <div class="cantidad">Producto sin stock</div>
          </ng-template>
          <ion-button *ngIf="producto.stock > 0" fill="outline" color="medium" (click)="sumarProducto(producto.producto_id)">
            <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <ion-button class="cancel-button" fill="solid" color="danger" (click)="quitarProducto(producto.producto_id)">
            <ion-icon name="trash-outline"></ion-icon>
          </ion-button>
        </div>
      </ion-card-content>
    </div>
  </div>

  <div *ngIf="productos && productos.length > 0" class="contenedor-pago">
    <div class="pagar">
      <div class="total-desglose">
        <div>Subtotal productos: ${{ subtotalProductos | number }} CLP</div>
        <div>Total envíos: ${{ subtotalEnvios | number }} CLP</div>
        <div class="total-final">Total a pagar: ${{ obtenerTotalCarrito() | number }} CLP</div>
        <div *ngIf="!usuario || usuario.rol == 'invitado'" class="total-final">Inicia sesión para poder realizar la compra</div>
      </div>
    </div>

    <button *ngIf="usuario && usuario.rol != 'invitado'" class="webpay-button" (click)="iniciarPagoWebpay()">
      <span>Pagar con WebPay</span>
    </button>

  </div>
  
  <ng-template #vacio>
    <div class="vacio-container">
      <ion-icon name="cart-outline"></ion-icon>
      <h2>Carrito Vacío</h2>
      <p>Agrega productos a tu carrito para comprarlos.</p>
    </div>
  </ng-template>

</ion-content>