<ion-header [translucent]="true">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="volverAtras()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Carrito de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="productos-grid">
    <div class="producto-card" *ngFor="let producto of productos">
      <img [src]="'assets/producto' + producto.id + '.jpg'" [alt]="producto.nombre">
      <ion-card-content>
        <div class="nombre">{{ producto.nombre }}</div>
        <div class="precio-oferta">\${{ producto.precio.toFixed(2) }}</div>
        <div class="precio-original-tachado">\${{ producto.precioOriginal.toFixed(2) }}</div>
        <div class="descripcion">Descripción corta del producto que es interesante para los usuarios.</div>

        <div class="producto-controles">
          <ion-button fill="outline" color="medium" (click)="restarProducto(producto.id)">➖</ion-button>
          <span class="cantidad">{{ producto.cantidad }}</span>
          <ion-button fill="outline" color="medium" (click)="sumarProducto(producto.id)">➕</ion-button>
          <ion-button fill="solid" color="danger" (click)="comprarProducto(producto.id)">🛒</ion-button>
        </div>
      </ion-card-content>
    </div>
  </div>

  <div class="pagar-todo">
    <ion-button expand="block" class="pagar-button" (click)="pagarTodo()">
      Pagar Todo - Total: \${{ obtenerTotalCarrito().toFixed(2) }}
    </ion-button>
  </div>
</ion-content>