.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10000;
}

.card-form {
  background: #fff;
  padding: 1.5rem;
  border-radius: 20px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.3s ease-in-out;
}

.acciones {
  margin-top: 1rem;
  display: flex;
  gap: 0.5rem;
}

.acciones ion-button {
  flex: 1;
  --padding-top: 0;
  --padding-bottom: 0;
  --padding-start: 0;
  --padding-end: 0;
  height: auto;
}

@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.tipo-cuenta-lista ion-item {
  border: 1px solid #ddd;
  border-radius: 12px;
  margin-bottom: 8px;
  transition: background 0.2s ease;
}

.tipo-cuenta-lista ion-item.activo {
  background-color: #d1a15a2c;
  border-color: #d1a15a;
}

.card-form {
  position: relative; // asegúrate de que esté presente
}

.autocomplete-list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc; // borde gris clarito
  border-radius: 6px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  max-height: 150px;
  overflow-y: auto;
  z-index: 10;
  margin-top: 4px;
}

.autocomplete-list ion-item {
  --background: transparent;
  --min-height: 38px;
  font-size: 14px;
  border-bottom: 1px solid #eee;
}

.autocomplete-list ion-item:last-child {
  border-bottom: none;
}

.autocomplete-list ion-item:hover {
  background-color: #f4f4f4;
  cursor: pointer;
}

.brown-button {
  --color: #5c3a1a;
}

.titulo-tipo-cuenta {
  font-size: 15px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 8px;
  color: #333;
  margin-left: 8px;
}
