<ion-header>
  <ion-button *ngIf="!enHome()" (click)="retroceder()" class="footer-header-button">
    <ion-icon name="arrow-back-outline"></ion-icon>
  </ion-button>
  
  <div class="searchbar-wrapper">
    <ion-searchbar
      placeholder="Buscar..." class="searchbar" [(ngModel)]="busqueda" (ionInput)="onInputChange($event)" (keyup.enter)="buscarProducto()">
    </ion-searchbar>
    <ul *ngIf="sugerencias.length > 0" class="sugerencias-lista">
      <li *ngFor="let producto of sugerencias" (click)="verDetalle(producto.producto_id)">
        <img *ngIf="producto.imagen && producto.imagen.length > 0" [src]="producto.imagen[0]" alt="Imagen" class="sugerencia-img" />
        <div class="sugerencia-info">
          <span class="sugerencia-titulo">{{ producto.titulo }}</span>
          <span class="sugerencia-precio">{{ producto.oferta?.precio_oferta ? (producto.oferta.precio_oferta | number) : (producto.precio | number) }} CLP</span>
        </div>
      </li>
    </ul>
  </div>
  

  <ion-button (click)="navegar('/notificaciones')" class="footer-header-button">
    <ion-icon name="notifications"></ion-icon>
    <div *ngIf="notificaciones && notificaciones >= 0 && notificaciones < 100" class="notification-badge">{{ notificaciones }}</div>
    <div *ngIf="notificaciones && notificaciones > 99" class="notification-badge">!</div>
  </ion-button>
</ion-header>


<div class="contenido">
  <ng-content></ng-content>
</div>

<ion-footer [class.footer-oculto]="keyboardAbierto">
  <ion-button (click)="navegar('/home')" class="footer-header-button">
    <ion-icon name="home"></ion-icon>
  </ion-button>
  <ion-button (click)="navegar('/favoritos')" class="footer-header-button">
    <ion-icon name="heart"></ion-icon>
  </ion-button>
  <ion-button (click)="navegar('/carrito')" class="footer-header-button">
    <ion-icon name="basket"></ion-icon>
    <div *ngIf="carrito > 0" class="notification-badge">{{ carrito }}</div>
  </ion-button>
  <ion-button (click)="navegar('/perfil')" class="footer-header-button">
    <ion-icon name="person"></ion-icon>
  </ion-button>
</ion-footer>
