<app-navegacion>

  <ion-content>

    <!-- Sección de productos -->
    <div class="productos-grid-container">
      <h2 class="productos-titulo">Todos los Productos</h2>
      <div class="productos-grid">
        <ion-card *ngFor="let item of productosSinOferta  | async" (click)="verDetalle(item)" class="producto-card">
          <img [src]="item.variante.imagen[0]"/>
          <ion-card-content>
            <ion-card-title class="nombre">{{ item.producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="precio-original">{{ item.variante.precio | number }} CLP</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ver-mas-container">
        <ion-button expand="block" fill="outline">Ver más</ion-button>
      </div>
    </div>

    <!-- Sección de productos ofertados -->
    <div class="productos-grid-container">
      <h2 class="productos-titulo">Productos en Oferta</h2>
      <div class="productos-grid">
        <ion-card *ngFor="let item of productosConOferta | async" (click)="verDetalle(item)" class="producto-card">
          <img [src]="item.variante.imagen[0]"/>
          <ion-card-content>
            <ion-card-title class="nombre">{{ item.producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="precio-original-tachado">{{ item.variante.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle class="precio-oferta">{{ item.oferta?.precio_oferta | number }}CLP</ion-card-subtitle>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ver-mas-container">
        <ion-button expand="block" fill="outline">Ver más</ion-button>
      </div>
    </div>

  </ion-content>
  
</app-navegacion>