<app-navegacion>

  <ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Productos</ion-card-title>
        <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-list>
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://imgs.search.brave.com/T2jytlLQiDVVUGCnxBwmbRg2NU5wbKr1395U1SOV6q4/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9pbWFn/ZXMtbmEuc3NsLWlt/YWdlcy1hbWF6b24u/Y29tL2ltYWdlcy9J/LzcxNG9WR0p0V2VM/LmpwZw" />
            </ion-thumbnail>
            <ion-label>Telefono</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://imgs.search.brave.com/VyKZIQ3m5ohULpl5dZ2poYoKghRCHJ_1qNRyoj0HsVc/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93d3cu/a2xpcGVyLmNsL21l/ZGlhL2NhdGFsb2cv/cHJvZHVjdC9sL2Ev/bGFkeXNmMDMwNzdf/a3ZqMF8xLmpwZz9v/cHRpbWl6ZT1tZWRp/dW0mYmctY29sb3I9/MjU1LDI1NSwyNTUm/Zml0PWJvdW5kcyZo/ZWlnaHQ9NDE1Jndp/ZHRoPTM1NiZjYW52/YXM9MzU2OjQxNQ"/>
            </ion-thumbnail>
            <ion-label>Poleron</ion-label>
          </ion-item>
    
          <ion-item>
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://imgs.search.brave.com/VUlm4eamkknVVPCZ1wIZRKifh8YVPS19JnhzVf8_EiA/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9jYXRl/cnBpbGxhcnN2LmNv/bS9jZG4vc2hvcC9m/aWxlcy8zMDA3MTA2/Nl80MDY1NmEwMC05/NDFiLTQ1YWMtOTU5/Ny05Mzc1MTAyMmMx/MmFfMTAyNHgxMDI0/LmpwZz92PTE3NDA3/MjcxNzk"/>
            </ion-thumbnail>
            <ion-label>Botas</ion-label>
          </ion-item>
    
          <ion-item lines="none">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="https://imgs.search.brave.com/Z82bPZLxR8MudAKN7Zc7gYrcg3K-8mAX68pWnfdqC4w/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly91cGxv/YWQud2lraW1lZGlh/Lm9yZy93aWtpcGVk/aWEvY29tbW9ucy82/LzYyL0NpZWxvX01h/dHV0aW5vLmpwZw"/>
            </ion-thumbnail>
            <ion-label>Cielo</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </ion-content>
  
</app-navegacion>