<app-navegacion>
  <ion-content>

    <div *ngIf="categorias" class="categorias-container">
      <h2 class="categorias-titulo">Categorías</h2>
      <div class="categorias-grid">
        <div *ngFor="let categoria of categorias | async" class="categoria-card">
          <div class="categoria-icon-container">
            <ion-icon [name]="categoria.icono" class="categoria-icon" (click)="verCategoria(categoria.nombre)"></ion-icon>
          </div>
          <p class="categoria-nombre">{{ categoria.nombre | titlecase }}</p>
        </div>
      </div>
    </div>

    <div *ngIf="usuario && usuario.rol != 'invitado' && hayRecomendados | async" class="productos-grid-container">
      <h2 class="productos-titulo">Podría interesarte</h2>
      <div class="productos-grid">
        <ion-card *ngFor="let producto of productosRecomendados | async" (click)="verDetalle(producto.producto_id)" class="producto-card">
          <img [src]="producto.imagen[0]" />
          <ion-card-content>
            <ion-card-title class="nombre">{{ producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="descripcion">{{ producto.descripcion }}</ion-card-subtitle>
            <ion-card-subtitle class="descripcion">Stock: {{ producto.stock }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="!producto.oferta" class="precio-original">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-original-tachado">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-oferta">{{ producto.oferta?.precio_oferta | number }} CLP</ion-card-subtitle>
            <div class="estrellas-general">
              <span *ngFor="let contador of [1,2,3,4,5]">
                <ion-icon [name]="contador <= entero(producto.calificacion) ? 'star' : 'star-outline'"></ion-icon>
              </span>
              <span class="descripcion">({{ entero(producto.calificacion) || 0 }})</span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ver-mas-container">
        <ion-button expand="block" fill="outline" (click)="verMas('recomendados')">Ver más</ion-button>
      </div>
    </div>
    
    <div *ngIf="hayOfertas | async " class="productos-grid-container">
      <h2 class="productos-titulo">Productos en Oferta</h2>
      <div class="productos-grid">
        <ion-card *ngFor="let producto of productosConOferta | async" (click)="verDetalle(producto.producto_id)" class="producto-card">
          <img [src]="producto.imagen[0]" />
          <ion-card-content>
            <ion-card-title class="nombre">{{ producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="descripcion">{{ producto.descripcion }}</ion-card-subtitle>
            <ion-card-subtitle class="descripcion">Stock: {{ producto.stock }}</ion-card-subtitle>
            <ion-card-subtitle class="precio-original-tachado">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle class="precio-oferta">{{ producto.oferta?.precio_oferta | number }} CLP</ion-card-subtitle>
            <div class="estrellas-general">
              <span *ngFor="let contador of [1,2,3,4,5]">
                <ion-icon [name]="contador <= entero(producto.calificacion) ? 'star' : 'star-outline'"></ion-icon>
              </span>
              <span class="descripcion">({{ entero(producto.calificacion) || 0 }})</span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ver-mas-container">
        <ion-button expand="block" fill="outline" (click)="verMas('conOferta')">Ver más</ion-button>
      </div>
    </div>

    <div *ngIf="hayProductos | async " class="productos-grid-container">
      <h2 class="productos-titulo">Todos los Productos</h2>
      <div class="productos-grid">
        <ion-card *ngFor="let producto of productosGenerales | async" (click)="verDetalle(producto.producto_id)" class="producto-card">
          <img [src]="producto.imagen[0]" />
          <ion-card-content>
            <ion-card-title class="nombre">{{ producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="descripcion">{{ producto.descripcion }}</ion-card-subtitle>
            <ion-card-subtitle class="descripcion">Stock: {{ producto.stock }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="!producto.oferta" class="precio-original">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-original-tachado">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-oferta">{{ producto.oferta?.precio_oferta | number }} CLP</ion-card-subtitle>          
            <div class="estrellas-general">
              <span *ngFor="let contador of [1,2,3,4,5]">
                <ion-icon [name]="contador <= entero(producto.calificacion) ? 'star' : 'star-outline'"></ion-icon>
              </span>
              <span class="descripcion">({{ entero(producto.calificacion) || 0 }})</span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
      <div class="ver-mas-container">
        <ion-button expand="block" fill="outline" (click)="verMas('sinOferta')">Ver más</ion-button>
      </div>
    </div>

         <!-- Explora más / Scroll Infinito -->
    <div class="productos-grid-container">
      <h2 class="productos-titulo">Explora más</h2>
      <div class="productos-grid">
        <ion-card *ngFor="let producto of productosInfinitos" (click)="verDetalle(producto.producto_id)" class="producto-card">
          <img [src]="producto.imagen[0]" />
          <ion-card-content>
            <ion-card-title class="nombre">{{ producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="descripcion">{{ producto.descripcion }}</ion-card-subtitle>
            <ion-card-subtitle class="descripcion">Stock: {{ producto.stock }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="!producto.oferta" class="precio-original">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-original-tachado">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-oferta">{{ producto.oferta?.precio_oferta | number }} CLP</ion-card-subtitle>
            <div class="estrellas-general">
              <span *ngFor="let contador of [1,2,3,4,5]">
                <ion-icon [name]="contador <= entero(producto.calificacion) ? 'star' : 'star-outline'"></ion-icon>
              </span>
              <span class="descripcion">({{ entero(producto.calificacion) || 0 }})</span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>


     <!-- Explora más / Scroll Infinito -->
    <div class="productos-grid-container">
      <h2 class="productos-titulo">Explora más</h2>
      <div class="productos-grid">
        <ion-card *ngFor="let producto of productosInfinitos" (click)="verDetalle(producto.producto_id)" class="producto-card">
          <img [src]="producto.imagen[0]" />
          <ion-card-content>
            <ion-card-title class="nombre">{{ producto.titulo }}</ion-card-title>
            <ion-card-subtitle class="descripcion">{{ producto.descripcion }}</ion-card-subtitle>
            <ion-card-subtitle class="descripcion">Stock: {{ producto.stock }}</ion-card-subtitle>
            <ion-card-subtitle *ngIf="!producto.oferta" class="precio-original">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-original-tachado">{{ producto.precio | number }} CLP</ion-card-subtitle>
            <ion-card-subtitle *ngIf="producto.oferta" class="precio-oferta">{{ producto.oferta?.precio_oferta | number }} CLP</ion-card-subtitle>
            <div class="estrellas-general">
              <span *ngFor="let contador of [1,2,3,4,5]">
                <ion-icon [name]="contador <= entero(producto.calificacion) ? 'star' : 'star-outline'"></ion-icon>
              </span>
              <span class="descripcion">({{ entero(producto.calificacion) || 0 }})</span>
            </div>
          </ion-card-content>
        </ion-card>
      </div>
    </div>

    <!-- Scroll infinito -->
    <ion-infinite-scroll threshold="100px" position="bottom" (ionInfinite)="cargarMas($event)">
      <ion-infinite-scroll-content
        loadingSpinner="dots"
        loadingText="Cargando más productos...">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>

  </ion-content>
</app-navegacion>